<nz-table #expandTable [nzData]="dataList" nzTableLayout="fixed">
  <thead>
  <tr>
    <th>名称</th>
    <th>状态</th>
    <th>排序</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let firstLevel of dataList">
    <ng-container *ngIf="firstLevel.showState===1">
      <tr>
        <td [nzIndentSize]="firstLevel.level! * 20"  [(nzExpand)]="firstLevel.expand" (nzExpandChange)="findChild(firstLevel,$event)" [nzShowExpand]="firstLevel.leaf===0">
          {{firstLevel.name}}{{firstLevel.leaf}}
        </td>
        <td>{{firstLevel.showState}}</td>
        <td>{{firstLevel.sort}}</td>
      </tr>
      <ng-container *ngFor="let secondLevel of firstLevel.children">
        <tr>
          <td [nzIndentSize]="secondLevel.level! * 20">
            {{secondLevel.name}}
          </td>
          <td>{{secondLevel.showState}}</td>
          <td>{{secondLevel.sort}}</td>
        </tr>
      </ng-container>

    </ng-container>
  </ng-container>
<!--  <ng-container *ngFor="let data of expandTable.data">
    <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
      <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
        <td
          [nzIndentSize]="item.level! * 20"
          [nzShowExpand]="!!item.children"
          [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
        >
          {{ item.name }}
        </td>
        <td>{{ item.age }}</td>
        <td>{{ item.address }}</td>
      </tr>
    </ng-container>
  </ng-container>-->
  </tbody>
</nz-table>
